
    {% extends "base.html" %}

    {% block body %} 
    
    <div class="container">
        <form action="" method="POST">
        {{ form.csrf_token() }}
            <div class="form-group offset-4">
              <div class="col-5">
                      <h2 class="title mt-3">Register</h2>
              </div>
                <div class="col-5">
                    <label for="">Firstname</label>
                    {{ form.firstname(class='form-control', placeholder='Please enter your firstname') }}
                    <small id="helpId" class="text-muted">Please enter your name</small>
                </div>
                <div class="col-5">
                  <label for="">Lastname</label>
                  {{ form.lastname(class='form-control', placeholder='Please enter your lastname') }}
                  <small id="helpId" class="text-muted">Please enter your lastname</small>
              </div>
              <div class="col-5">
                <label for="">Date Of Birth</label>
                {{ form.dateOfBirth(class='form-control', placeholder='Please enter your Date Of Birth') }}
                <small id="helpId" class="text-muted">Please enter your Date Of Birth</small>
            </div>
                <div class="col-5">
                    <label for="">Email Address</label>
                    {{ form.email(class='form-control', placeholder='your@email.com') }}
                    <small id="helpId" class="text-muted">Enter your email address</small>
                </div>
                <div class="col-5">
                  <label for="">Password</label>
                  {{ form.password(class='form-control', placeholder='Please enter your password') }}
                  <small id="helpId" class="text-muted">Please enter your password</small>
              </div>


              <!-- {% if form.password.errors %}
              {% for error in form.password.errors %}
                  <p class="error">{{ error }}</p>
              {% endfor %}
          {% endif %} -->
         
              <div class="col-5">
                <label for="">Confirm Password</label>
                {{ form.confirmpassword(class='form-control', placeholder='Please enter your confirmpassword') }}
                <small id="helpId" class="text-muted">Please enter your confirmpassword</small>
            </div>
            </div>
        
        
            <div class="form-group row">
              
                <div class="col offset-4">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </div>
        </form>
    </div>


<!-- 

    <div class="formwrapper">
        <h2 class="title">Register</h2>
        <form method="POST" action="http://127.0.0.1:5000/register">
          {{ form.csrf_token }}
        
            <div class="form-field">{{ form.firstname.label }} {{ form.firstname(size=30) }}</div>
            <div class="form-field">{{ form.lastname.label }} {{ form.lastname(size=30) }}</div>
            <div class="form-field">{{ form.dateOfBirth.label }} {{ form.dateOfBirth(size=30) }}</div>
            <div class="form-field">{{ form.email.label }} {{ form.email(size=30) }}</div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}</div>
                <ul>
                  {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>

            </div>
            <div class="form-field">{{ form.confirmpassword.label }} {{ form.confirmpassword(size=30) }}</div>

            {{ form.submit }}
        </form>
      </div>

   
    -->
    
    {% endblock %}

